@model Department
@{
    ViewData["Title"] = "Edit Department";
}

<div class="container mt-4">
    <div class="card shadow-sm border-0 rounded-3">
        <div class="card-header bg-warning text-center">
            <h3>
                <i class="bi bi-pencil-square"></i> Edit Department
            </h3>
        </div>
    </div>
    <div class="card-body">
        <form asp-action="Edit" method="post">
            <input asp-for="Id" type="hidden" />
            <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>
            <div class="row">
                <div class="mb-3">
                    <label asp-for="Name" class="form-label>"></label>  
                    <input asp-for="Name" class="form-control"
                           placeholder="Enter department name" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="mb-3">
                    <label asp-for="ManagerName" class="form-label>"></label>
                    <input asp-for="ManagerName" class="form-control"
                           placeholder="Enter Manager name" />
                    <span asp-validation-for="ManagerName" class="text-danger"></span>
                </div>
            </div>

            <div class="d-grid gap-2 d-md-flex justify-content-md-end mt-4">
                <a asp-action="Index" class="btn btn-secondary">
                    <i class="bi bi-arrow-left"></i> Cancel
                </a>
                <button type="submit" class="btn btn-warning">
                    <i class="bi bi-save"></i> Update Department
                </button>
            </div>
        </form>
    </div>
</div>
