@{
    ViewData["Title"] = "Privacy Policy";
    Layout = "_MyLayout";
}

<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>


@section HeadSection{
    <h3> Form view to head section </h3>>
}

@section FooterSection{

}